    html {
  background-color: lightblue;
    }

    body {
    font: 1.2em / 1.5 "Fira Sans", sans-serif;
    }
    h1 {
    color: palevioletred;
    text-align: center;
    }
    p {
        color: #333;
        padding: 10px;
    }
    ul li {
        color: purple;
    }
    a {
        color: blue;
    }
    a:hover {
      text-decoration: none;
    }
    .styled-box {
       border: 2px solid #000;
       background-color: lightgray;
       padding: 15px;
       text-align: center;
    }
